In [2]:
##
#   Padroniza o formato dos valores do CNIR
##
import numpy
import pandas as pd
import os

arquivo = 'd:\\temp\\cnir\\cnirs.csv'
cnirs = pd.read_csv(arquivo, dtype={
                     'cnir.nirf': str,
                     'cnir.codigoIncra': str,
                     'cnir.ni': str,
                     'cnir.municipio': str,
                     'cnir.areaTotal': float
                 })

# Removendo a coluna 'index'
cnirs.drop(cnirs.columns[[0]], axis=1, inplace=True)

cnirs

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf
0,4774565,1100015,543802.6662,003759720024,9500333109803,NaN
1,272599,1100015,514337.0000,20518552934,0000431903229,NaN
2,445583,1100015,40.5059,28108183987,0010400846389,NaN
3,461126,1100015,35791.1145,29915619804,0010900016277,15955257
4,482431,1100015,1879.9579,32458727808,0011710106004,NaN
...,...,...,...,...,...,...
6141786,4610360,5300108,15.3000,69082189100,9410180009147,NaN
6141787,4613335,5300108,15.3000,69082189100,9410181008209,NaN
6141788,6635792,5300108,15.2900,01038915104,9510304579065,NaN
6141789,4610970,5300108,15.2182,07296169168,9410180305200,NaN
6141790,4614389,5300108,15.2000,21455104191,9410181126236,NaN

In [33]:
# Renomeando colunas 
cnirs.rename(columns={'codigoCnir': 'cnir.codigoCnir'}, inplace = True)
cnirs.to_csv(r'd:\\temp\\cnir\\cnirs.csv')

In [34]:
# Selecionando registros para criar base de aprendizado
cnirs_trein = cnirs[(cnirs['cnir.nirf'].str.len() == 8)]    # tamanho do campo com apenas um nirf vinculado
cnirs_trein

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf
3,461126,1100015,35791.1145,29915619804,0010900016277,15955257
6,2825099,1100015,4610.9982,68724608220,6321040340109,49504100
8,2825098,1100015,3825.7500,68724608220,6321040340028,44466951
10,490266,1100015,3040.6686,38368102987,0012280119839,40738868
11,462245,1100015,2227.8982,42632188849,0010901351940,41931661
...,...,...,...,...,...,...
6141773,4611309,5300108,15.5000,00980242134,9410180405417,10889469
6141774,4611521,5300108,15.5000,02367947104,9410180462488,06377564
6141780,4610343,5300108,15.4000,02203022191,9410180005745,10868054
6141781,4612593,5300108,15.4000,09796363100,9410180731802,37821776
6141784,4610827,5300108,15.3200,11358530106,9410180255180,43587003

In [36]:
# Eliminando nirfs repetidos (1 x n)
nirfs_repetidos = cnirs_trein[cnirs_trein.duplicated(['cnir.nirf'], keep=False)]
cnirs_trein = cnirs_trein.drop(nirfs_repetidos.index)

cnirs_trein.to_pickle('..\\DADOS\\cnirs_trein.pickle')
cnirs_trein

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf
3,461126,1100015,35791.1145,29915619804,0010900016277,15955257
10,490266,1100015,3040.6686,38368102987,0012280119839,40738868
11,462245,1100015,2227.8982,42632188849,0010901351940,41931661
12,5182233,1100015,1872.8722,69144222149,9500849523703,69547688
13,482468,1100015,2115.3528,62498045872,0011710115925,33902925
...,...,...,...,...,...,...
6141773,4611309,5300108,15.5000,00980242134,9410180405417,10889469
6141774,4611521,5300108,15.5000,02367947104,9410180462488,06377564
6141780,4610343,5300108,15.4000,02203022191,9410180005745,10868054
6141781,4612593,5300108,15.4000,09796363100,9410180731802,37821776
6141784,4610827,5300108,15.3200,11358530106,9410180255180,43587003