In [1]:
##
#   Junta as bases do CNIR e DITR por meio do nirf
##
import numpy as np
import pandas as pd
import os

In [8]:
cnirs = pd.read_pickle('..\\DADOS\\cnirs_sem_vinculacao.pkl')
ditr2020 = pd.read_pickle('..\\DADOS\\ditr2020.pickle')
cnirs

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf
0,4774565,1100015,543802.6662,003759720024,9500333109803,NaN
1,272599,1100015,514337.0000,20518552934,0000431903229,NaN
2,445583,1100015,40.5059,28108183987,0010400846389,NaN
4,482431,1100015,1879.9579,32458727808,0011710106004,NaN
5,4774566,1100015,6240.5000,003759720024,9500333109994,NaN
...,...,...,...,...,...,...
6141786,4610360,5300108,15.3000,69082189100,9410180009147,NaN
6141787,4613335,5300108,15.3000,69082189100,9410181008209,NaN
6141788,6635792,5300108,15.2900,01038915104,9510304579065,NaN
6141789,4610970,5300108,15.2182,07296169168,9410180305200,NaN
6141790,4614389,5300108,15.2000,21455104191,9410181126236,NaN

In [10]:
cnirs_ditr2020_por_ni = cnirs.merge(ditr2020, left_on='cnir.ni', right_on='ditr2020.ni', how='inner')
cnirs_ditr2020_por_ni.to_pickle('..//DADOS//v2_cnirs_ditr2020_por_ni.pkl')
cnirs_ditr2020_por_ni

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf,ditr2020.nirf,ditr2020.codigoIncra,ditr2020.ni,ditr2020.areaTotal,ditr2020.municipio
0,445583,1100015,40.5059,28108183987,0010400846389,NaN,35492953,NAO INFORMADO,28108183987,40.5,1100015
1,6580046,1100015,40.5059,28108183987,9510211621240,NaN,35492953,NAO INFORMADO,28108183987,40.5,1100015
2,482431,1100015,1879.9579,32458727808,0011710106004,NaN,29529999,0011710106004,32458727808,1880.7,1101500
3,482431,1100015,1879.9579,32458727808,0011710106004,NaN,02520214,0010901252373,32458727808,1969.1,1101500
4,482431,1100015,1879.9579,32458727808,0011710106004,NaN,07620985,6221250070487,32458727808,295.2,3536703
...,...,...,...,...,...,...,...,...,...,...,...
3757449,190583,5300108,16.1000,10355693615,0000352345164,NaN,15931757,NAO INFORMADO,10355693615,16.1,5300108
3757450,6624185,5300108,16.0000,21024839168,9510301874619,NaN,10904930,9510301874619,21024839168,16.0,5300108
3757451,4962800,5300108,15.9000,03135084612,9500680979427,NaN,49954113,NAO INFORMADO,03135084612,15.9,3170404
3757452,5234043,5300108,15.5212,47154179104,9500926390797,NaN,74797433,NAO INFORMADO,47154179104,34.5,5300108
3757453,4610987,5300108,15.5000,02134632100,9410180313300,NaN,94682526,0000355944905,02134632100,12.5,5300108

In [16]:
## Criando dados para aplicaÃ§Ã£o do modelo
cj_aplic = pd.read_pickle('..//DADOS//v2_cnirs_ditr2020_por_ni.pkl')

# Criando colunas igualdade (ig.xxxxx)
cj_aplic['ig.ni'] = cj_aplic['cnir.ni'] == cj_aplic['ditr2020.ni']
cj_aplic['ig.codigoIncra'] = cj_aplic['cnir.codigoIncra'] == cj_aplic['ditr2020.codigoIncra']
cj_aplic['ig.municipio'] = cj_aplic['cnir.municipio'] == cj_aplic['ditr2020.municipio']

# Criando coluna de variaÃ§Ã£o da Ã¡rea entre CNIR e DITR2019
#cj_aprend[['cnir.areaTotal', 'ditr2019.areatotal']] = cj_aprend[['cnir.areaTotal', 'ditr2019.areatotal']].apply(pd.to_numeric)
cj_aplic['dif'] = np.where(cj_aplic['cnir.areaTotal'] > cj_aplic['ditr2020.areaTotal'], 
             (cj_aplic['cnir.areaTotal'] - cj_aplic['ditr2020.areaTotal']) / cj_aplic['cnir.areaTotal'], 
             (cj_aplic['ditr2020.areaTotal'] - cj_aplic['cnir.areaTotal']) / cj_aplic['ditr2020.areaTotal'])  
#reduzindo a quantidade  de valores para simplificar o aprendizado
cj_aplic['dif'] = cj_aplic['dif'].apply(lambda x:int(x * 100))

cj_aplic

,cnir.codigoCnir,cnir.municipio,cnir.areaTotal,cnir.ni,cnir.codigoIncra,cnir.nirf,ditr2020.nirf,ditr2020.codigoIncra,ditr2020.ni,ditr2020.areaTotal,ditr2020.municipio,ig.ni,ig.codigoIncra,ig.municipio,dif
0,445583,1100015,40.5059,28108183987,0010400846389,NaN,35492953,NAO INFORMADO,28108183987,40.5,1100015,True,False,True,0
1,6580046,1100015,40.5059,28108183987,9510211621240,NaN,35492953,NAO INFORMADO,28108183987,40.5,1100015,True,False,True,0
2,482431,1100015,1879.9579,32458727808,0011710106004,NaN,29529999,0011710106004,32458727808,1880.7,1101500,True,True,False,0
3,482431,1100015,1879.9579,32458727808,0011710106004,NaN,02520214,0010901252373,32458727808,1969.1,1101500,True,False,False,4
4,482431,1100015,1879.9579,32458727808,0011710106004,NaN,07620985,6221250070487,32458727808,295.2,3536703,True,False,False,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757449,190583,5300108,16.1000,10355693615,0000352345164,NaN,15931757,NAO INFORMADO,10355693615,16.1,5300108,True,False,True,0
3757450,6624185,5300108,16.0000,21024839168,9510301874619,NaN,10904930,9510301874619,21024839168,16.0,5300108,True,True,True,0
3757451,4962800,5300108,15.9000,03135084612,9500680979427,NaN,49954113,NAO INFORMADO,03135084612,15.9,3170404,True,False,False,0
3757452,5234043,5300108,15.5212,47154179104,9500926390797,NaN,74797433,NAO INFORMADO,47154179104,34.5,5300108,True,False,True,55
3757453,4610987,5300108,15.5000,02134632100,9410180313300,NaN,94682526,0000355944905,02134632100,12.5,5300108,True,False,True,19

In [17]:
# EliminaÃ§Ã£o das colunas desnecessÃ¡rias
del cj_aplic['cnir.nirf']
del cj_aplic['cnir.municipio']
del cj_aplic['cnir.areaTotal']
del cj_aplic['cnir.ni']
#del cj_aplic['cnir.codigoIncra']

del cj_aplic['ditr2020.ni']
del cj_aplic['ditr2020.areaTotal']
del cj_aplic['ditr2020.municipio']

cj_aplic.to_pickle('..//DADOS//v2_cj_aplic.pkl')

In [18]:
cj_aplic

,cnir.codigoCnir,cnir.codigoIncra,ditr2020.nirf,ditr2020.codigoIncra,ig.ni,ig.codigoIncra,ig.municipio,dif
0,445583,0010400846389,35492953,NAO INFORMADO,True,False,True,0
1,6580046,9510211621240,35492953,NAO INFORMADO,True,False,True,0
2,482431,0011710106004,29529999,0011710106004,True,True,False,0
3,482431,0011710106004,02520214,0010901252373,True,False,False,4
4,482431,0011710106004,07620985,6221250070487,True,False,False,84
...,...,...,...,...,...,...,...,...
3757449,190583,0000352345164,15931757,NAO INFORMADO,True,False,True,0
3757450,6624185,9510301874619,10904930,9510301874619,True,True,True,0
3757451,4962800,9500680979427,49954113,NAO INFORMADO,True,False,False,0
3757452,5234043,9500926390797,74797433,NAO INFORMADO,True,False,True,55
3757453,4610987,9410180313300,94682526,0000355944905,True,False,True,19